body {
	font-size: 14px;
	line-height: 24px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: bold;
	color: #000;

}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.page-wrapper {
	background: #849d8f;
}

.wrapper {
	max-width: 1200px;
	min-width: 900px;
	margin: 0 auto;
	padding: 0 2.5%;
}
.main-header {
	padding: 9px 0 0 27px;
}

.logo {
	float: left;
	width: 155px;
}

.menu-header {
	float: left;
	width: 380px;
	font-size: 0;
	padding: 0;
	padding-left: 25px;
	position: relative;
}
.menu-header  ul {
	padding: 0;
	margin: 0;
}

.menu-header li {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	list-style: none;
	margin-right: 25px;
}
.menu-header a {
	display: block;
	color: #fff;
}

.menu-header li:hover>ul {
	display: block;
}
.sub-menu {
	display: none;
	position: absolute;
	width: 150px;
	padding: 0;
	margin-top:10px;
	font-size: 14px;
}

.user-block {
	float: right;
	width: 280px;
	margin-top: 14px;
}
.search-header,
.login-header,
.basket-header {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}

.search-header {
	width: 31px;
	height:31px;
	border-radius: 15px;
	background: #a1b5aa;
}

.login-header {
	width: 92px;
	height:31px;
	border-radius: 15px;
	background: #a1b5aa;
}

.login-header a {
	text-decoration: none;
	color: #fff;
	padding-left: 43px;
	padding-top: 9px;

}

.basket-header {
	width: 117px;
	height:31px;
	border-radius: 15px;
	background: #a1b5aa;
}

.basket-header a {
	text-decoration: none;
	color: #fff;
	padding-left: 44px;
	padding-top: 9px;
}

.login-box ,
.search-form,
.basket-form {
	display: none;
}

.contact {
	text-align: right;
	vertical-align: top;
}

.contact .working {
	font-size: 14px;
	color: #fff;
}
.contact b {
	font-size: 22px;
	color: #fff;
}

.header {
	font-size: 0;
}

.header li{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}

.header a{
	padding-right: 20px;
}

.name {
	color: #fff;
	font-size: 14px;
}

.filters-form {
	font-size: 0;
}

.filters-sort,
.filters-sort-price,
.filters-fat,
.filters-topping {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	margin-right: 15px;
}

.filters-sort {
	width: 195px;
}

.filters-sort-price {
	width: 215px;
}

.filters-fat {
	width: 410px;
}

.filters-topping {
	width: 700px;
}

.btn-inner {
	width: 145px;
	vertical-align: bottom;
	font-size: 16px;
	padding: 6px 27px;
	border-radius: 25px;
	background: #a6b7ae;
	border-radius: 1px solid #fcfcfc;
	color: #fff;
}

.slides {
	margin-top: 270px;
	text-align: center;
}


   /*БЛОКИ  С ТОПИНГАМИ*/



.topping {
	margin-top: 40px;
}

.banner {
	width: 43.3%;
	border-radius: 15px;
	padding: 0 20px;
}

.banner-left {
	float: left;
	background: url(../img/berry.jpg) no-repeat center ;
	background-size: cover;
}

.banner-right {
	float: right;
	background: url(../img/choco.jpg) no-repeat center;
	background-size: cover;
}

h2 {
	color: #fff;
	font-size: 35px;
}

.banner-left p,
.banner-right p {
	color: #fff;
	font-size: 17px;
}

.btn {
	display: inline-block;
	font-size: 18px;
	color: #fff;
	vertical-align: top;
	text-align: center;
	text-decoration: none;
	padding: 14px 20px;
	background: #ee5f3f;
	box-sizing: border-box;
	border-radius: 25px;
	box-shadow: 0 2px 2px rgba(172,16,0,.6);
}

.btn-slide {
	font-size: 31.48px;
	padding: 14px 45px;
}



.icecream-hit {
	font-size: 0;
	margin-top: 20px;
	text-align: center;
}

.icecream-card {
	font-size: 0;
}

.card {
	display: inline-block;
	vertical-align: top;
	width: 22.2%;
	font-size: 16px;
	text-align: center;
	margin-top: 36px;
	margin-right: 2.2%;
}
.card-img>img {
	width: 100%;
	height: auto;
}

.card>a {
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	vertical-align: top;
}

.card:last-child {
	margin-right: 0px;
}
.price {
	font-size: 45px;
	color: #fff;
}

.about {
	background: transparent url(../img/blog-about.jpg) repeat;
	-webkit-background-size: 	cover;
	background-size: 	cover;
	font-size: 0;
	border-radius: 20px;
	padding: 25px 20px;
	margin-top: 40px;
}

.about h1 {
	font-size: 25px;
	color: #323232;
}

.about li {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	width: 48%;
	margin-bottom: 35px;
}

.about li:nth-child(odd) {
	margin-right: 25px;
}

.news-blog {
	width: 100%;
	margin-top: 40px;
}
.blog {
	float: left;
	width: 43.3%;
	min-height: 221px;
	background: url(../img/blog.jpg) no-repeat center ;
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 15px;
	padding: 0 20px;
}

.news {
	float: right;
	width: 43.3%;
	min-height: 221px;
	background: url(../img/pattern.png) repeat center ;
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 15px;
	padding: 0 20px;
}

.map {
	background: transparent url(../img/maps.jpg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 430px;
	margin-top: 35px;
	padding: 65px 27px;
}


.feedback {
	background: #fefefe;
	width: 305px;
}

.number {
	text-align: right;
	font-size: 0;
	border-bottom: 1px solid #a9bbb1;
}

.number a {
	text-decoration: none;
}

.number li {
	display: inline-block;
	font-size: 16px;
	padding-right: 16px;
	list-style: none;
}

footer {
	text-align: center;
	padding-top: 20px;
}
.made-in {
	float: right;
	width: 220px;
}

.footer-social {
	float: left;
	width: 220px;
}

.footer-links {
	margin-left: 220px;
	margin-right: 220px;
}
